<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.huazai.modular.dao.ImeiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.huazai.modular.entity.Imei">
        <id column="id" property="id"/>
        <result column="imei" property="imei"/>
        <result column="activatetime" property="activatetime"/>
        <result column="activatenumber" property="activatenumber"/>
        <result column="expiretime" property="expiretime"/>
        <result column="location_id" property="locationId"/>
        <result column="imsi" property="imsi"/>
        <result column="use_tfcard" property="useTfcard"/>
    </resultMap>

</mapper>
