<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.huazai.modular.dao.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.huazai.modular.entity.Users">
        <id column="userid" property="userid"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="employeeid" property="employeeid"/>
        <result column="avatar" property="avatar"/>
        <result column="secret" property="secret"/>
        <result column="password" property="password"/>
        <result column="defaultchannel" property="defaultchannel"/>
        <result column="enable" property="enable"/>
        <result column="type" property="type"/>
        <result column="createid" property="createid"/>
        <result column="maturitytime" property="maturitytime"/>
        <result column="imeiid" property="imeiid"/>
        <result column="lastlogintime" property="lastlogintime"/>
        <result column="email" property="email"/>
        <result column="uuid" property="uuid"/>
        <result column="pubkey" property="pubkey"/>
        <result column="sdcardid" property="sdcardid"/>
        <result column="mobile" property="mobile"/>
        <result column="sign_info" property="signInfo"/>
        <result column="gender" property="gender"/>
        <result column="departId" property="departId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="verificationcode" property="verificationcode"/>
        <result column="loginerrorcount" property="loginerrorcount"/>
        <result column="codeexpirationtime" property="codeexpirationtime"/>
        <result column="visiable_user_group_Id" property="visiableUserGroupId"/>
    </resultMap>

</mapper>
